* text=auto

*.cs        text diff=csharp eol=lf
*.asmdef    text eol=lf
*.asmref    text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.txt       text eol=lf
*.xml       text eol=lf
*.yml       text eol=lf
*.rsp       text eol=lf
*.shader    text eol=lf
*.hlsl      text eol=lf
*.cginc     text eol=lf
*.uss       text eol=lf
*.uxml      text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf

*.meta            text eol=lf merge=unityyamlmerge
*.unity           text eol=lf merge=unityyamlmerge
*.prefab          text eol=lf merge=unityyamlmerge
*.asset           text eol=lf merge=unityyamlmerge
*.mat             text eol=lf merge=unityyamlmerge
*.anim            text eol=lf merge=unityyamlmerge
*.controller      text eol=lf merge=unityyamlmerge
*.overrideController text eol=lf merge=unityyamlmerge
*.physicMaterial  text eol=lf merge=unityyamlmerge
*.physicsMaterial2D text eol=lf merge=unityyamlmerge
*.playable        text eol=lf merge=unityyamlmerge
*.mask            text eol=lf merge=unityyamlmerge
*.brush           text eol=lf merge=unityyamlmerge
*.flare           text eol=lf merge=unityyamlmerge
*.fontsettings    text eol=lf merge=unityyamlmerge
*.guiskin         text eol=lf merge=unityyamlmerge
*.giparams        text eol=lf merge=unityyamlmerge
*.lighting        text eol=lf merge=unityyamlmerge
*.mixer           text eol=lf merge=unityyamlmerge
*.preset          text eol=lf merge=unityyamlmerge
*.renderTexture   text eol=lf merge=unityyamlmerge
*.shadervariants  text eol=lf merge=unityyamlmerge
*.signal          text eol=lf merge=unityyamlmerge
*.spriteatlas     text eol=lf merge=unityyamlmerge
*.spriteatlasv2   text eol=lf merge=unityyamlmerge
*.terrainlayer    text eol=lf merge=unityyamlmerge
*.scenetemplate   text eol=lf merge=unityyamlmerge
*.inputactions    text eol=lf merge=unityyamlmerge

*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.psd    binary
*.tga    binary
*.tif    binary
*.tiff   binary
*.bmp    binary
*.exr    binary
*.hdr    binary
*.ico    binary
*.svg    binary
*.ttf    binary
*.otf    binary
*.fbx    binary
*.obj    binary
*.blend  binary
*.wav    binary
*.mp3    binary
*.ogg    binary
*.aif    binary
*.mp4    binary
*.mov    binary
*.dll    binary
*.so     binary
*.dylib  binary
*.a      binary
*.pdb    binary
*.unitypackage binary
*.zip    binary
